<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head', {title: `All Sightings`, background: `https://thumbs.gfycat.com/BitesizedUnhealthyGuanaco-size_restricted.gif`}); -%> 
  <body>
    <%- include('partials/navbar-header', {header: `All Sightings`,
    subheader: `Total No. of Sightings: ${allSightings.length}`}); -%>

    <div class="container" style= "max-width: 600px">                                                                             
      <div class="table-responsive">          
        <table class="table table-hover sortable">
          <thead>
            <tr id = "table-sightings-header" >
              <th>#</th>
              <th>Date</th>
              <th>Shape</th>
              <th>City</th>
              <th>Link</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id = "table-sightings-rows" >
            <!-- Create an <tr> element for each index in allSightings -->
            <!-- adapted from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach -->
            <% allSightings.forEach((element, index) => { %>
              <tr>
                <td><%= index %></td>
                <td><%= element.date_time %></td>
                <td><%= element.shape %></td>
                <td><%= element.city %></td>
                <td>
                  <a href="/sighting/<%= index %>">
                    <div>
                      Click to View
                    </div>
                  </a>
                </td>
                <td> Bin Icon </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    
  </body>
</html>
