<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head', {title: `UFO Sighting, Index
    ${sightingIndex.index}`, background: `https://media-cldnry.s-nbcnews.com/image/upload/newscms/2021_15/3465332/210416-ufo-navy-2x1-mn-1330.gif`}); -%> 
  <body>
    <%- include('partials/navbar-header', {header: `Sighting Report`,
    subheader: `Index ${sightingIndex.index}`}); -%>
    <br><br>
   
    <div class="container" id="index-container" style="max-width: 600px">
      <!-- Only show this message if there's a cookie --> 
      <%if (typeof(sightingIndex.cookie) !== "number") { %>
        <div class="row">
          <div class="col-sm-6 col-md-6">
            Favourited: YES!
          </div>
        </div>
      <% } %>
     
      <div class="row">
        <div class="col-sm-6 col-md-6">
          Sighting Date & Time: <%= sightingIndex.info.date_time %>
        </div>
        <div class="col-sm-6 col-md-6">
          City: <%= sightingIndex.info.city %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          State: <%= sightingIndex.info.state %>
        </div>
        <div class="col-sm-6 col-md-6">
          Shape: <%= sightingIndex.info.shape %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          Duration: <%= sightingIndex.info.duration %>
        </div>
        <div class="col-sm-6 col-md-6">
          Report Submitted: <%= sightingIndex.info.creation_time %>
        </div>
      </div>
    </div>

    <div class = "container jumbotron vertical-center" style="max-width: 600px" id = "jumbotron-index-report">
      <strong class = "container text-center">Summary:</strong>
      <p><%= sightingIndex.info.summary%></p>
    </div> 
    <div class = "container jumbotron vertical-center" style="max-width: 600px" id = "jumbotron-index-report">
      <strong class = "container text-center">Reported Events:</strong>
      <p><%= sightingIndex.info.text %></p>
    </div> 

    <form action="/sighting/<%= sightingIndex.index %>?_method=DELETE" method="POST" id = "delete-form">
    </form>
    <div class = "text-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button
          class="btn btn-primary btn-lg text-center"
          type = "button"
          onclick = "location.href=`/sighting/<%= sightingIndex.index%>/edit`"
        >
          Edit
        </button>
        <button class="btn btn-danger btn-lg text-center" type="submit" form = "delete-form">
            Delete
        </button>
      </div>
    </div>
    <%- include('partials/footer'); -%>
  </body>
</html>
